@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}
